body{
    padding:50px;
    margin: 0;
}
.container{
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: lightblue;
    width: 60%;
    z-index: 999;
}
.form-group{
    margin-bottom:30px;
}
